.animated-blobs {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: var(--z-background);
    overflow: hidden;
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;
    animation: blobMorph 15s ease-in-out infinite;
}

.blob-1 {
    width: 500px;
    height: 500px;
    background: var(--pink-light);
    top: -10%;
    right: -10%;
    animation-delay: 0s;
}

.blob-2 {
    width: 400px;
    height: 400px;
    background: var(--sage-light);
    bottom: 20%;
    left: -10%;
    animation-delay: -5s;
}

.blob-3 {
    width: 350px;
    height: 350px;
    background: var(--pink-soft);
    top: 50%;
    right: 10%;
    animation-delay: -10s;
}

.blob-4 {
    width: 300px;
    height: 300px;
    background: var(--coral-warm);
    bottom: -5%;
    right: 30%;
    animation-delay: -7s;
    opacity: 0.2;
}

@media (max-width: 768px) {
    .blob {
        filter: blur(60px);
        opacity: 0.3;
    }

    .blob-1 {
        width: 300px;
        height: 300px;
    }

    .blob-2 {
        width: 250px;
        height: 250px;
    }

    .blob-3 {
        width: 200px;
        height: 200px;
    }

    .blob-4 {
        display: none;
    }
}